.admins-alec {
    width: 128px;
    height: 128px;
    background-position: -2px -2px;
}

.admins-bjin {
    width: 128px;
    height: 128px;
    background-position: -2px -134px;
}

.admins-branko2 {
    width: 128px;
    height: 128px;
    background-position: -2px -266px;
}

.admins-lessig {
    width: 128px;
    height: 128px;
    background-position: -2px -398px;
}
